<div class="bar">
	<ul>
		<li>handbook |</li>
		<li>faq |</li>
		<li>press |</li>
		<li>past seasons |</li>
		<li>leadership |</li>
		<li>contact</li>
	</ul>
</div>
<div class="social">
	<ul>
		<li class="facebook"></li>
		<li class="twitter"></li>
		<li class="youtube"></li>
		<li class="twitch"></li>
	</ul>
</div>
<div class="misc">
	<div class="terms">
		<div>terms of use</div>
		<div>©2014 jink.tv. all rights reserved</div>
	</div>
	<div class="icon"></div>
	<div class="built-by">
		<div>site build by <b>nathaniel tucker</b></div>
		<div>and designed by <b>redice</b></div>
	</div>
</div>