<div ng-controller="FeaturedMatchesCtrl" ng-show="featuredMatchesPresent">
    <div class="header">
        <img class="section-header-icon" ng-src="{{ sectionHeaderIconUrl }}"/>
        <span class="heavy">Featured</span><span>Matches</span>
    </div>

    <div class="featured-matches">
        <div ng-repeat="match in matches" class="match"
                style="background-image: url( {{ match.background_image_url }} );">
            <img class="game-icon" ng-show="{{ match.icon_image_url }}" ng-src="{{ match.icon_image_url }}"/>
            <a href="{{ match.match_url }}">
                <p>{{ match.home_team }}</p>
                <p class="vs">vs</p>
                <p>{{ match.away_team }}</p>
            </a>

        </div>
    </div>
</div>
