<div class="bar">
    <ul>
        <li>HANDBOOK |</li>
        <li>FAQ |</li>
        <li>PRESS |</li>
        <li>PAST SEASONS |</li>
        <li>LEADERSHIP |</li>
        <li>CONTACT</li>
    </ul>
</div>
<div class="social">
    <ul>
        <li class="facebook"></li>
        <li class="twitter"></li>
        <li class="youtube"></li>
        <li class="twitch"></li>
    </ul>
</div>
<div class="misc">
    <div class="terms">
        <div>TERMS OF USE</div>
        <div>©2014 JINK.TV. ALL RIGHTS RESERVED</div>
    </div>
    <div class="icon"></div>
    <div class="built-by">
        <div>SITE BUILD BY <b>NATHANIEL TUCKER</b></div>
        <div>AND DESIGNED BY <b>REDICE</b></div>
    </div>
</div>