<div ng-controller="HeaderCtrl">
    <div class="account-bar" ng-include="'/account/account_bar/'"></div>

    <a href="/"><div class="logo"></div></a>

    <div class="bar">
        <div ng-repeat="game in games">
            <a  href="/#/game/{{ game.slug }}">
                <img class="game1 game" ng-src="{{ getImageUrl(game) }}"/>
            </a>
            <img class="game-active-icon" ng-if="isSelected(game)" ng-src="{{ getSelectedIconUrl(game) }}" />
        </div>
    </div>

    <div class="navigation" ng-show="isGameSelected">
        <ul>
            <li ng-repeat="tab in tabs">
                <a href="/{{ selectedGame }}/{{ tab.slug }}" ng-class="{ selected: selectedTab == tab.slug }">{{ tab.title }}</a>
            </li>
        </ul>
    </div>

</div>
