<div class="header">
    <span class="heavy">Latest</span><span>Ahgl News</span>
</div>

<div ng-controller="LatestNewsCtrl" class="latest-news">
    <div ng-repeat="article in news" class="news">
        <div class="news-heading">
            <div class="date">Aug 15th, 2014</div>
            <img ng-show="article.image_url" src="/{{ article.icon_image_url }}" /><div>{{ article.title }}</div>
            <div class="underline"></div>
        </div>

        <p ng-bind-html="article.summary"></p>
        <a href="{{ article.page_url }}">Read More</a>
    </div>
</div>
