{% load bootstrap_tags %}
{{profile_form.media}}
{% if profile_form.is_multipart %}
    <form method="POST" class="well" enctype="multipart/form-data">
{% else %}
    <form method="POST" class="well"">
{% endif %}
    <fieldset>
        {% csrf_token %}
        {{ profile_form|as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{profile.get_absolute_url}}" class="btn">Cancel</a>
            <a href="{%url membership_delete profile.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </fieldset>
    {% if profile.memberships %}
    <div>
    <h3 class="f4">You're not done yet! Make sure to update your league specific profile below:</h3>
    <ul>
{% for membership in profile.memberships %}
<li><a href="{% url membership_edit membership.id %}">{{membership.team}}{% if membership.captain %}*{% endif %} : {{membership}}</a></li>
{% endfor %}
</ul>
    </div>
    {% endif %}
</form>