.carousel {
	height: 200px;
	img {
		display: block;
		height: 200px;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	.mask {
		opacity: 0.5;
		background-color: #000;
		width: 100%;
		height: 75px;
		position: absolute;
		top: 125px;
	}
	.message {
		position: absolute;
		background: transparent;
		color: white;
		width: 100%;
		height: 75px;
		top: 135px;
		text-align: center;
	}
	.rn-carousel-controls {
		position: relative;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		.rn-carousel-control.rn-carousel-control-next {
			width: 30px;
			height: 50px;
			margin-top: -125px;
			background: url('../images/carousel-right-arrow.png');
			&:before {
				content: '';
			}
		}
		.rn-carousel-control.rn-carousel-control-prev {
			width: 30px;
			height: 50px;
			margin-top: -125px;
			background: url('../images/carousel-left-arrow.png');
			&:before {
				content: '';
			}
		}
	}
	
}