.content {
  position: relative;
  top: -60px;
}
.section {

    width: 1025px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .header {

        background-image: url('../images/header.png');
        background-repeat: no-repeat;

        height: 82px;
        width: 990px;

        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-top: 33px;

        &.no-icon {
          background-image: url('../images/header-noicon.png');
          padding-left: 40px;
        }

        .section-header-icon {
          width: 143px;
          height: 82px;
          float: left;
          position: relative;
          top: -45px;
        }

        span, .inner {
          font-size: 19px;
          font-family: "Nunito";
          color: @bright-red;
          text-transform: uppercase;
          vertical-align: middle;
          &.heavy {
            font-size: 21px;
            font-weight: 700;
            margin-right: 5px;
          }
        }
    }
}
