.section {
    
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
    .header {

        background-image: url('../images/header.png');
        background-repeat: no-repeat;

        height: 85px;
        width: 990px;

        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-top: 33px;
        
        .section-header-icon {
          width: 143px;
          height: 82px;
          float: left;
          position: relative;
          top: -45px;
        }

        span {
          font-size: 19px;
          font-family: "AvianoFutureBold";
          color: @bright-red;
          text-transform: uppercase;
          vertical-align: middle;
          &.heavy {
            font-family: "AvianoFutureHeavy";
            margin-right: 5px;
          } 
        }
    }
}
