.featured-matches {
    height: 220px;
    font-family: 'AvianoFutureBold';
    margin-left: 10px;
    margin-right: 10px;
    .match {
        border: 2px solid @light-grey;
        margin: 10px;
        float: left;
        width: 310px;
        padding-top: 70px;
        padding-bottom: 70px;
        
        a:link, a:visited {
            color: inherit;
            text-decoration: none;
            background-color: inherit;
        }
        
        p {
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 11px;
            &.vs {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }  
}
