@import url(http://fonts.googleapis.com/css?family=Jura:600,400|Nunito:400,700);

.font-regular {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    b, strong {
        font-weight: 700;
    }
}

.font-display {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    b, strong {
        font-weight: 600;
    }
}

@font-face {
    font-family: AvianoFutureHeavy;
    src: url('fonts/AvianoFutureHeavy.otf');
}


@font-face {
    font-family: Avenir;
    src: url('fonts/AvenirLTStd-Medium.otf');
}
