@import url(http://fonts.googleapis.com/css?family=Jura:600,400|Nunito:400,700);
@import url(http://fonts.googleapis.com/css?family=Bevan);

.font-regular {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    b, strong, .strong {
        font-weight: 700;
    }
}

.font-display {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    b, strong, .strong {
        font-weight: 600;
    }
}

.font-login {
    font-family: 'Bevan', cursive;
    font-weight: 200;
    b, strong, .strong {
        font-weight: 600;
    }
}

