header {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    .logo {
        display: inline-block;
        width: 152px;
        height: 212px;
        background-image: url('../images/logo.png');
    }
    .bar {
        display: inline-block;
        width: 929px;
        height: 126px;
        position: absolute;
        top: 25px;
        background-image: url('../images/header-background.png');
        img {
            width: 175px;
            height: 100px;
            margin: 0 2px;
            cursor: pointer;
        }
        .more {
            position: absolute;
            background-image: url('../images/more.png');
            right: 8px;
            top: 17px;
            height: 92px;
            width: 60px;
            cursor: pointer;
        }
    }
}