header {
    width: 986px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    background: transparent;
    .font-display;
    .logo {
        display: inline-block;
        width: 107px;
        height: 212px;
        background-image: url('../images/logo.png');
        cursor: pointer;
    }
    .bar {
        display: inline-block;
        width: 895px;
        height: 116px;
        position: absolute;
        top: 32px;
        background-image: url('../images/header-background.png');

        div {
            float: left;
            width: 173px;
            img.game {
                width: 137px;
                height: 115px;
                margin: 0 18px;
                cursor: pointer;
                position: relative;
                top: -15px;
            }
            .game-active-icon {
                position: relative;
                top: -29px;
                left: 10px;
            }
        }
    }
    .navigation {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -61px;
        .font-display.strong();
        font-size: 18px;
        text-transform: uppercase;
        text-shadow: 0 0 4px black, 0 0 4px black, 0 0 10px black, 0 0 10px black;
        text-align: center;
        &, a {
            color: lightgrey;
            text-decoration: none;
            &:hover {
                color: white;
            }
            .selected {
                color: white;
                text-decoration: underline;
            }
        }
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}
