@import url(http://fonts.googleapis.com/css?family=Jura:600,400|Nunito:400,700);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  background-image: url('../images/background.jpg');
}
.font-regular {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
.font-regular b,
.font-regular strong,
.font-regular .strong {
  font-weight: 700;
}
.font-display {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.font-display b,
.font-display strong,
.font-display .strong {
  font-weight: 600;
}
header {
  width: 986px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
  background: transparent;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
header b,
header strong,
header .strong {
  font-weight: 600;
}
header .logo {
  display: inline-block;
  width: 107px;
  height: 212px;
  background-image: url('../images/logo.png');
  cursor: pointer;
}
header .bar {
  display: inline-block;
  width: 895px;
  height: 116px;
  position: absolute;
  top: 32px;
  background-image: url('../images/header-background.png');
}
header .bar div {
  float: left;
  width: 173px;
}
header .bar div img.game {
  width: 137px;
  height: 115px;
  margin: 0 18px;
  cursor: pointer;
  position: relative;
  top: -15px;
}
header .bar div .game-active-icon {
  position: relative;
  top: -29px;
  left: 10px;
}
header .navigation {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -61px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 10px black, 0 0 10px black;
  text-align: center;
  color: lightgrey;
}
header .navigation a {
  color: lightgrey;
  text-decoration: none;
}
header .navigation a:hover {
  color: white;
}
header .navigation a.selected {
  color: white;
  text-decoration: underline;
}
header .navigation ul {
  list-style-type: none;
}
header .navigation ul li {
  display: inline-block;
  margin: 0 10px;
}
footer {
  margin-top: 50px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
footer a:link,
footer a:visited {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}
footer b,
footer strong,
footer .strong {
  font-weight: 600;
}
footer .bar {
  padding: 15px;
  background-color: #1f1f1f;
  color: #aaaaaa;
  text-align: center;
  opacity: .7;
}
footer .bar ul li {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 20px;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 2px solid #aaaaaa;
}
footer .bar ul li:last-child {
  border-right: none;
}
footer .social {
  width: 174px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
footer .social ul li {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  cursor: pointer;
}
footer .social ul li.facebook {
  background-image: url('../images/facebook.png');
}
footer .social ul li.twitter {
  background-image: url('../images/twitter.png');
}
footer .social ul li.youtube {
  background-image: url('../images/youtube.png');
}
footer .social ul li.twitch {
  background-image: url('../images/twitch.png');
}
footer .misc {
  width: 517px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.365;
  text-transform: uppercase;
}
footer .misc .terms {
  display: inline-block;
  text-align: right;
  color: #e32d2e;
  vertical-align: middle;
  height: 60px;
}
footer .misc .icon {
  display: inline-block;
  width: 28px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../images/small-logo.png');
}
footer .misc .built-by {
  display: inline-block;
  color: #aaaaaa;
  vertical-align: middle;
  height: 60px;
}
.content {
  position: relative;
  top: 270px;
}
.section {
  width: 1025px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.section .header {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  height: 82px;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-top: 33px;
}
.section .header.no-icon {
  background-image: url('../images/header-noicon.png');
  padding-left: 40px;
}
.section .header .section-header-icon {
  width: 143px;
  height: 82px;
  float: left;
  position: relative;
  top: -45px;
}
.section .header span,
.section .header .inner {
  font-size: 19px;
  font-family: "Nunito";
  color: #e32d2e;
  text-transform: uppercase;
  vertical-align: middle;
}
.section .header span.heavy,
.section .header .inner.heavy {
  font-size: 21px;
  font-weight: 700;
  margin-right: 5px;
}
.live-stream {
  font-family: 'Nunito';
}
.live-stream .title-container {
  color: #e32d2e;
  width: 977px;
  margin-left: auto;
  margin-right: auto;
}
.live-stream .title-container img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.live-stream .title-container .title {
  font-size: 23px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.live-stream .title-container .currently-playing {
  color: #832325;
  font-size: 16px;
}
.live-stream .stream-container {
  width: 977px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #676767;
}
.live-stream .stream-container .twitch-container,
.live-stream .stream-container .chat-container {
  display: inline-block;
  height: 500px;
  margin-top: 15px;
}
.live-stream .stream-container .twitch-container {
  width: 655px;
  margin-right: 15px;
  background-color: #aaaaaa;
}
.live-stream .stream-container .chat-container {
  width: 300px;
  background-color: #aaaaaa;
}
.featured-matches {
  height: 220px;
  font-family: 'Nunito';
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.featured-matches .match {
  margin: 10px;
  float: left;
  width: 314px;
  height: 177px;
}
.featured-matches .match a {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
.featured-matches .match a:link,
.featured-matches .match a:visited {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}
.featured-matches .match p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
}
.featured-matches .match p.vs {
  font-size: 24px;
  font-weight: bold;
}
.latest-news {
  font-family: 'Nunito';
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
}
.latest-news .news {
  float: left;
  width: 45%;
  padding: 5px 10px 5px 20px;
}
.latest-news .news a:link,
.latest-news .news a:visited {
  color: #e32d2e;
  text-decoration: none;
  background-color: inherit;
}
.latest-news .news a {
  color: #e32d2e;
}
.latest-news .news .date {
  width: 100%;
  text-align: right;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Nunito";
}
.latest-news .news img {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.latest-news .news .news-heading {
  color: white;
  font-size: 22px;
  font-family: "Nunito";
  text-transform: uppercase;
  width: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #898989;
}
.latest-news .news p {
  padding-top: 5px;
  color: white;
  font-size: 12px;
  font-family: "Nunito";
}
.carousel {
  height: 340px;
  position: absolute;
  top: 0px;
}
.carousel img {
  display: block;
  height: 479px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel .fade {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
}
.carousel .mask {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 75px;
  position: absolute;
  top: 349px;
}
.carousel .message {
  position: absolute;
  background: transparent;
  color: white;
  width: 100%;
  height: 75px;
  top: 394px;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.carousel .message b,
.carousel .message strong,
.carousel .message .strong {
  font-weight: 600;
}
.carousel .message a {
  padding: 4px;
  border: 1px solid #e32d2e;
  border-radius: 3px;
  color: #e32d2e;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 9px;
  vertical-align: middle;
}
.carousel .message a b,
.carousel .message a strong,
.carousel .message a .strong {
  font-weight: 600;
}
.carousel .message a:link,
.carousel .message a:visited {
  color: #e32d2e;
  text-decoration: none;
  background-color: inherit;
}
.carousel .rn-carousel-controls {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-next {
  width: 30px;
  height: 50px;
  margin-top: -50px;
  background: url('../images/carousel-right-arrow.png');
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-next:before {
  content: '';
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-prev {
  width: 30px;
  height: 50px;
  margin-top: -50px;
  background: url('../images/carousel-left-arrow.png');
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-prev:before {
  content: '';
}
.t1 {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  height: 82px;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-top: 33px;
  background-image: url('../images/header-noicon.png');
  padding-left: 40px;
  font-size: 19px;
  font-family: "Nunito";
  color: #e32d2e;
  text-transform: uppercase;
  vertical-align: middle;
}
.t1.no-icon {
  background-image: url('../images/header-noicon.png');
  padding-left: 40px;
}
.t1 .section-header-icon {
  width: 143px;
  height: 82px;
  float: left;
  position: relative;
  top: -45px;
}
.t1 span,
.t1 .inner {
  font-size: 19px;
  font-family: "Nunito";
  color: #e32d2e;
  text-transform: uppercase;
  vertical-align: middle;
}
.t1 span.heavy,
.t1 .inner.heavy {
  font-size: 21px;
  font-weight: 700;
  margin-right: 5px;
}
.t1.heavy {
  font-size: 21px;
  font-weight: 700;
  margin-right: 5px;
}
