@font-face {
  font-family: AvianoFutureBold;
  src: url('fonts/AvianoFutureBold.otf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  background-image: url('../images/background.png');
}
header {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
header .logo {
  display: inline-block;
  width: 152px;
  height: 212px;
  background-image: url('../images/logo.png');
}
header .bar {
  display: inline-block;
  width: 929px;
  height: 126px;
  position: absolute;
  top: 25px;
  background-image: url('../images/header-background.png');
}
header .bar img {
  width: 175px;
  height: 100px;
  margin: 0 18px;
  cursor: pointer;
}
header .bar .more {
  position: absolute;
  background-image: url('../images/more.png');
  right: 8px;
  top: 17px;
  height: 92px;
  width: 60px;
  cursor: pointer;
}
footer {
  font-family: 'AvianoFutureBold';
  font-size: 12px;
}
footer .bar {
  padding: 15px;
  background-color: #1f1f1f;
  color: #aaa;
  text-align: center;
}
footer .bar ul li {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}
footer .social {
  width: 174px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
footer .social ul li {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  cursor: pointer;
}
footer .social ul li.facebook {
  background-image: url('../images/facebook.png');
}
footer .social ul li.twitter {
  background-image: url('../images/twitter.png');
}
footer .social ul li.youtube {
  background-image: url('../images/youtube.png');
}
footer .social ul li.twitch {
  background-image: url('../images/twitch.png');
}
footer .misc {
  width: 568px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  line-height: 1.365;
}
footer .misc .terms {
  display: inline-block;
  text-align: right;
  color: #e32d2e;
  vertical-align: middle;
  height: 60px;
}
footer .misc .icon {
  display: inline-block;
  width: 28px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../images/small-logo.png');
}
footer .misc .built-by {
  display: inline-block;
  color: #aaa;
  vertical-align: middle;
  height: 60px;
}
