@font-face {
  font-family: AvianoFutureBold;
  src: url('fonts/AvianoFutureBold.otf');
}
@font-face {
  font-family: AvianoFutureRegular;
  src: url('fonts/AvianoFutureRegular.otf');
}
@font-face {
  font-family: AvianoFutureBlack;
  src: url('fonts/AvianoFutureBlack.otf');
}
@font-face {
  font-family: AvianoFutureHeavy;
  src: url('fonts/AvianoFutureHeavy.otf');
}
@font-face {
  font-family: Avenir;
  src: url('fonts/AvenirLTStd-Medium.otf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  background-image: url('../images/background.jpg');
}
header {
  width: 986px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
  background: transparent;
  font-family: 'AvianoFutureBold';
}
header .logo {
  display: inline-block;
  width: 107px;
  height: 212px;
  background-image: url('../images/logo.png');
  cursor: pointer;
}
header .bar {
  display: inline-block;
  width: 895px;
  height: 116px;
  position: absolute;
  top: 32px;
  background-image: url('../images/header-background.png');
}
header .bar img {
  width: 137px;
  height: 115px;
  margin: 0 18px;
  cursor: pointer;
  position: relative;
  top: -15px;
}
header .bar .more {
  position: absolute;
  background-image: url('../images/more.png');
  right: 8px;
  top: 17px;
  height: 92px;
  width: 60px;
  cursor: pointer;
}
header .navigation {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -61px;
}
header .navigation ul {
  list-style-type: none;
}
header .navigation ul li {
  display: inline-block;
  color: lightgrey;
  font-size: 12px;
  margin-right: 20px;
}
footer {
  margin-top: 50px;
  font-family: 'AvianoFutureBold';
  font-size: 12px;
}
footer a:link,
footer a:visited {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}
footer .bar {
  padding: 15px;
  background-color: #1f1f1f;
  color: #aaaaaa;
  text-align: center;
  opacity: .7;
}
footer .bar ul li {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}
footer .social {
  width: 174px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
footer .social ul li {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  cursor: pointer;
}
footer .social ul li.facebook {
  background-image: url('../images/facebook.png');
}
footer .social ul li.twitter {
  background-image: url('../images/twitter.png');
}
footer .social ul li.youtube {
  background-image: url('../images/youtube.png');
}
footer .social ul li.twitch {
  background-image: url('../images/twitch.png');
}
footer .misc {
  width: 568px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  line-height: 1.365;
  text-transform: lowercase;
}
footer .misc .terms {
  display: inline-block;
  text-align: right;
  color: #e32d2e;
  vertical-align: middle;
  height: 60px;
}
footer .misc .icon {
  display: inline-block;
  width: 28px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('../images/small-logo.png');
}
footer .misc .built-by {
  display: inline-block;
  color: #aaaaaa;
  vertical-align: middle;
  height: 60px;
}
.section {
  width: 1025px;
  margin-left: auto;
  margin-right: auto;
}
.section .header {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  height: 85px;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-top: 33px;
}
.section .header .section-header-icon {
  width: 143px;
  height: 82px;
  float: left;
  position: relative;
  top: -45px;
}
.section .header span {
  font-size: 19px;
  font-family: "AvianoFutureBold";
  color: #e32d2e;
  text-transform: uppercase;
  vertical-align: middle;
}
.section .header span.heavy {
  font-family: "AvianoFutureHeavy";
  margin-right: 5px;
}
.live-stream {
  font-family: 'AvianoFutureBold';
}
.live-stream .title-container {
  color: #e32d2e;
  width: 977px;
  margin-left: auto;
  margin-right: auto;
}
.live-stream .title-container img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.live-stream .title-container .title {
  font-size: 26px;
  text-transform: uppercase;
}
.live-stream .title-container .currently-playing {
  color: #832325;
  font-size: 16px;
  text-transform: uppercase;
}
.live-stream .stream-container {
  width: 977px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #676767;
}
.live-stream .stream-container .twitch-container,
.live-stream .stream-container .chat-container {
  display: inline-block;
  height: 500px;
  margin-top: 15px;
}
.live-stream .stream-container .twitch-container {
  width: 655px;
  margin-right: 15px;
  background-color: #aaaaaa;
}
.live-stream .stream-container .chat-container {
  width: 300px;
  background-color: #aaaaaa;
}
.featured-matches {
  height: 220px;
  font-family: 'AvianoFutureBold';
  margin-left: 10px;
  margin-right: 10px;
}
.featured-matches .match {
  border: 2px solid #aaaaaa;
  margin: 10px;
  float: left;
  width: 310px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.featured-matches .match a:link,
.featured-matches .match a:visited {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}
.featured-matches .match p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
}
.featured-matches .match p.vs {
  font-size: 24px;
  font-weight: bold;
}
.latest-news {
  font-family: 'AvianoFutureBold';
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
}
.latest-news .news {
  float: left;
  width: 45%;
  padding: 5px 10px 5px 20px;
}
.latest-news .news a:link,
.latest-news .news a:visited {
  color: #e32d2e;
  text-decoration: none;
  background-color: inherit;
}
.latest-news .news a {
  color: #e32d2e;
  font-family: "Avenir";
}
.latest-news .news .date {
  width: 100%;
  text-align: right;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Avenir";
}
.latest-news .news img {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.latest-news .news .news-heading {
  color: white;
  font-size: 22px;
  font-family: "AvianoFutureBlack";
  text-transform: uppercase;
  width: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #898989;
}
.latest-news .news p {
  padding-top: 5px;
  color: white;
  font-size: 12px;
  font-family: "Avenir";
}
.carousel {
  height: 200px;
}
.carousel img {
  display: block;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel .fade {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
}
.carousel .mask {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 75px;
  position: absolute;
  top: 125px;
}
.carousel .message {
  position: absolute;
  background: transparent;
  color: white;
  width: 100%;
  height: 75px;
  top: 135px;
  text-align: center;
  font-size: 18px;
  font-family: 'AvianoFutureBlack';
  text-transform: uppercase;
}
.carousel .message a {
  padding: 4px;
  border: 1px solid #e32d2e;
  border-radius: 3px;
  color: #e32d2e;
  font-size: 9px;
  font-family: 'AvianoFutureRegular';
  vertical-align: middle;
}
.carousel .message a:link,
.carousel .message a:visited {
  color: #e32d2e;
  text-decoration: none;
  background-color: inherit;
}
.carousel .rn-carousel-controls {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-next {
  width: 30px;
  height: 50px;
  margin-top: -50px;
  background: url('../images/carousel-right-arrow.png');
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-next:before {
  content: '';
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-prev {
  width: 30px;
  height: 50px;
  margin-top: -50px;
  background: url('../images/carousel-left-arrow.png');
}
.carousel .rn-carousel-controls .rn-carousel-control.rn-carousel-control-prev:before {
  content: '';
}
