
@charset "UTF-8";
a {
    color: #2C4B9A;
    cursor: pointer;
    text-decoration: none !important;
}
a:focus {
    color: #CC1C4A;
}
a:hover {
    color: #CC1C4A;
}
a:active {
    color: #B54536;
}
.l-inline-block-item {
    margin-bottom: 1.3em;
}
.l-inline-block-list > ul, .l-inline-block-list > ol {
    padding: 0;
}
.group, .l-inline-block-list, .l-inline-block-item {
}
.group:after, .l-inline-block-list:after, .l-inline-block-item:after {
    clear: both;
    content: "";
    display: table;
}
.reset-float {
    display: block;
    float: none;
}
.float-left {
    display: inline;
    float: left;
}
.float-right {
    display: inline;
    float: right;
}
.is-visible {
    visibility: visible;
}
.is-invisible {
    visibility: hidden;
}
.is-hidden {
    display: none;
}
.is-displayed {
    display: block;
}
.is-off-canvas {
    left: -9999px;
    position: absolute;
}
.is-on-canvas {
    left: 0;
    position: static;
}
.hidden {
    left: -9999px;
    position: absolute;
}
.is-blurred {
}
.media {
    overflow: hidden;
}
.media-object {
    clear: none;
    display: inline;
    float: left;
}
.media-object img, .media-object object, .media-object video, .media-object iframe, .media-object .spinner {
    display: block;
}
.media-body {
    overflow: hidden;
}
.l-full-width {
    display: block;
    width: 100%;
}
img.l-full-width {
    line-height: 0;
}
.t-link-color {
    color: #2C4B9A;
}
.t-link-color:visited {
    color: #344776;
}
.t-link-color:focus {
    color: #CC1C4A;
}
.t-link-color:hover {
    color: #CC1C4A;
}
.t-link-color:active {
    color: #B54536;
}
.t-link-color-alt {
    color: #000000;
}
.t-link-color-alt:visited {
    color: #000000;
}
.t-link-color-alt:focus {
    color: #CC1C4A;
}
.t-link-color-alt:hover {
    color: #CC1C4A;
}
.t-link-color-alt:active {
    color: #B54536;
}
.t-link-color-inverted, .skin-dark a, .skin-black a {
    color: #FFFFFF;
}
.t-link-color-inverted:visited, .skin-dark a:visited, .skin-black a:visited {
    color: #FFFFFF;
}
.t-link-color-inverted:focus, .skin-dark a:focus, .skin-black a:focus {
    color: #CC1C4A;
}
.t-link-color-inverted:hover, .skin-dark a:hover, .skin-black a:hover {
    color: #CC1C4A;
}
.t-link-color-inverted:active, .skin-dark a:active, .skin-black a:active {
    color: #B54536;
}
.t-link-color-inverted-alt {
    color: #FACD34;
}
.t-link-color-inverted-alt:visited {
    color: #C19F2C;
}
.t-link-color-inverted-alt:focus {
    color: #CC1C4A;
}
.t-link-color-inverted-alt:hover {
    color: #CC1C4A;
}
.t-link-color-inverted-alt:active {
    color: #B54536;
}
.skin-dark, .skin-black {
    background: none repeat scroll 0 0 #171717 !important;
    color: #FFFFFF;
}
.skin-dark h4, .skin-black h4 {
    color: #FACD34;
}
.skin-black {
    background: none repeat scroll 0 0 #000000 !important;
}
@font-face {
    font-family: "Siri Core";
    font-style: normal;
    font-weight: 400;
    src: url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Regular_RB.eot?#iefix") format("embedded-opentype"), url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Regular_RB.woff") format("woff"), url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Regular_RB.ttf") format("truetype");
}
@font-face {
    font-family: "Siri Core";
    font-style: normal;
    font-weight: 700;
    src: url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Bold_RB.eot?#iefix") format("embedded-opentype"), url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Bold_RB.woff") format("woff"), url("http://www.redbull.com/cs/RedBull2/fonts/SiriCore-Bold_RB.ttf") format("truetype");
}
@font-face {
    font-family: "Siri";
    font-style: normal;
    font-weight: 700;
    src: url("http://www.redbull.com/cs/RedBull2/fonts/Siri-Black_RB.eot?#iefix") format("embedded-opentype"), url("http://www.redbull.com/cs/RedBull2/fonts/Siri-Black_RB.woff") format("woff"), url("http://www.redbull.com/cs/RedBull2/fonts/Siri-Black_RB.ttf") format("truetype");
}
@font-face {
    font-family: "Kremlin";
    font-style: normal;
    font-weight: 400;
    src: url("http://www.redbull.com/cs/RedBull2/fonts/218E1C_0_0.eot?#iefix") format("embedded-opentype"), url("http://www.redbull.com/cs/RedBull2/fonts/218E1C_0_0.woff") format("woff"), url("http://www.redbull.com/cs/RedBull2/fonts/218E1C_0_0.ttf") format("truetype");
}
@media screen and (max-width: 400px) {
td {
    padding: 0.65em 0.4875em;
}
tbody th {
    padding: 0.364em 0.273em 0.364em 0;
}
thead th {
    padding: 0.75829em 0.56872em;
}
.mediaTableWrapper strong {
    -moz-hyphens: auto;
    display: inline-block;
    max-width: 80px;
    vertical-align: middle;
    word-wrap: break-word;
}
}
@media screen and (min-width: 600px) {
.mediaTableWrapper th.optional, .mediaTableWrapper td.optional {
    display: table-cell;
}
.mediaTableMenu {
    display: none !important;
}
}
@media screen and (min-width: 480px) {
.news-feed .header, .news-feed header {
    display: inline;
    float: left;
    padding-right: 5%;
    width: 35%;
}
.news-feed .footer, .news-feed footer {
    margin-left: 40%;
}
.news-feed .news-feed-content {
    width: 60%;
}
}
.fd-info-links {
    text-align: center;
}
.fd-info-links ul {
    text-align: left;
}
.fd-info-links ul.icon-list {
    display: inline-block;
    vertical-align: middle;
}
.fd-info-credits {
    text-align: center;
}
.fd-info-offers, .fd-info-poster {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media screen and (min-width: 480px) {
.fd-video-nav {
    border: 0 none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
.fd-video-nav li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}
.fd-video-nav li:first-child, .fd-video-nav li.first {
    padding-left: 0;
}
.fd-video-nav li:last-child {
    padding-right: 0;
}
.fd-video-nav li.last {
    padding-right: 0;
}
.fd-video-nav:after {
    clear: both;
    content: "";
    display: table;
}
.fd-video-nav-item {
    margin-bottom: 1.3em;
    overflow: hidden;
    width: 50%;
}
.fd-video-nav-item .content {
    margin-left: 0.65em;
    margin-right: 0.65em;
    overflow: hidden;
}
.fd-offers-poster {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: static;
    width: 50%;
}
.fd-info-credits {
    display: inline;
    float: right;
    text-align: left;
    width: 45%;
}
.fd-info-links {
    text-align: left;
}
}
.module > .content.responsive-ad {
    margin: 0 !important;
}
#navigation .main-nav .active > a:before {
    content: "▶";
    display: inline-block;
    font-size: 9px;
    height: 9px;
    line-height: 1em;
    padding-bottom: 3px;
    vertical-align: middle !important;
}
#navigation .main-nav .active.has-children > a:before {
    display: none;
}
#navigation .main-nav .has-children .active > a:before {
    font-size: 8px;
    height: 8px;
    line-height: 1em;
}
#channel-main {
    display: inline;
    float: left;
    width: 60%;
}
#channel-main #main-nav, #channel-main #topics {
    margin-left: 0.39em;
}
#channel-meta {
    display: inline;
    float: left;
    width: 40%;
}
#search {
    clear: both;
}
#branding {
    font-size: 1.428em;
    line-height: 2.5em;
    padding: 0 0.65em 0 0.91em;
}
#branding .logo {
    height: 2.5em;
    padding-left: 0.8125em;
    width: 2.3em;
}
@media screen and (min-width: 480px) {
#branding .logo {
    background: url("http://www.redbull.com/cs/RedBull2/images/branding/redbull-com-logo.png") no-repeat scroll left center / 3.1em auto rgba(0, 0, 0, 0);
    width: 3.1em;
}
}
@media not all, screen and (min-width: 480px) and (min-resolution: 144dpi), screen and (min-width: 480px) and (min-resolution: 1.5dppx) {
#branding .logo {
    background: url("http://www.redbull.com/cs/RedBull2/images/branding/redbull-com-logo-2x.png") no-repeat scroll left center / 3.1em auto rgba(0, 0, 0, 0);
}
}
@media screen and (min-width: 480px) {
.content.social {
    background: none repeat scroll 0 0 #FFFFFF;
}
.content.social.tweet .message {
    display: inline;
    float: left;
    width: 78%;
}
.content.social.tweet .profile {
    display: inline;
    float: right;
}
.content.social.tweet .profile img {
    padding-top: 0;
}
.link-list.tile-list li, .link-list.tile-list li:first-child {
    clear: none;
    margin: 0 0 0.74285em;
    min-height: 15.65em;
    width: 33.3%;
}
.link-list.tile-list li .tile-list-item, .link-list.tile-list li:first-child .tile-list-item {
    margin: 0 0.74285em;
    text-align: center;
}
.link-list.tile-list li .tile-list-item .cover-art, .link-list.tile-list li:first-child .tile-list-item .cover-art {
    margin-right: 0;
    width: 100%;
}
.link-list.tile-list li .tile-list-item .title, .link-list.tile-list li:first-child .tile-list-item .title {
    margin-top: 0.65em;
    max-width: 100%;
    vertical-align: top !important;
}
.teaser.flat .text, .secondary > .teaser .text, .link-list.episode-gallery .text {
    width: 76%;
}
}
@media screen and (min-width: 550px) {
.link-list.tile-list li, .link-list.tile-list li:first-child {
    min-height: 13.65em;
    width: 25%;
}
}

