footer {
	font-family: 'AvianoFutureBold';
	font-size: 12px;
	.bar {
		padding: 15px;
		background-color: #1f1f1f;
		color: #aaa;
		text-align: center;
		ul {
			li {
				display: inline-block;
				text-transform: uppercase;
				cursor: pointer;
			}
		}
	}
	.social {
		width: 174px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		ul {
			li {
				display: inline-block;
				height: 40px;
				width: 40px;
				background-color: #fff;
				cursor: pointer;
				&.facebook {
					background-image: url('../images/facebook.png');
				}
				&.twitter {
					background-image: url('../images/twitter.png');
				}
				&.youtube {
					background-image: url('../images/youtube.png');
				}
				&.twitch {
					background-image: url('../images/twitch.png');
				}
			}
		}
	}
	.misc {
		width: 568px;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
		font-size: 11px;
		line-height: 1.365;
		.terms {
			display: inline-block;
			text-align: right;
			color: rgb(227, 45, 46);
			vertical-align: middle;
			height: 60px;
		}
		.icon {
			display: inline-block;
			width: 28px;
			height: 40px;
			margin-left: 5px;
			margin-right: 5px;
			background-image: url('../images/small-logo.png');
		}
		.built-by {
			display: inline-block;
			color: #aaa;
			vertical-align: middle;
			height: 60px;
		}
	}
}