{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load thumbnail %}
{% load phileo_tags %}

{% block head_title %}{% trans "Casters" %}{% endblock %}

{% block content-class %}static-page{% endblock %} 
{% block body %}
    <h2 class="title title-1 t1">Casters</h2>
    <p>Meet the AHGL Casters for the season!  If you enjoy their work, feel free to give them a 'like'!</p>

    <ul class="cf">
    {% for caster in casters %}
        <li{% if not caster.active %} style="opacity:0.6;"{% endif %}>
        {% if caster.active %}
        <div class="pull-right">
        {% if user.is_authenticated %}{% phileo_widget_brief user caster %}{% else %}Login to vote{% endif %}
        {% if request.user.is_staff %} <span class="pull-right">{{ caster|likes_count }}</span>{% endif %}
        </div>
        {% endif %}
        <img src="{{MEDIA_URL}}{{caster.photo}}" />
        <div class="clearfix">{{caster.description}}</div>
        <br>
        </li>
    {% empty %}
      <li>No casters for this league.</li>
    {% endfor %}
    </ul>
    
{% endblock %}