{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load show_snippet_tag %}

{% block head_title %}{% if team %}{% trans "Edit Team" %}{% else %}{% trans "Create a Team" %}{% endif %}{% endblock %}

{% block body %}
<form enctype="multipart/form-data" method="post" class="form-horizontal well">
    <h1>{% if team %}{% trans "Edit" %} {{team}}{% else %}{% trans "Create a Team" %}{% endif %}</h1>
    {% show_snippet "Team Signup Message" %}
    <fieldset>
        {% if team %}
        <p>Status: {{team.get_status_display}}</p>
        {% endif %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
          {% if team %}
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="submit" class="btn" name="submit" value="approval">Submit for Approval</button>
          {% else %}
          <button type="submit" class="btn btn-primary">Start Registration</button>
          {% endif %}
        </div>
        {% csrf_token %}
    </fieldset>
</form>
{% if team %}
<div class="well">
<h2>Members</h2>
<div>To add members to the team, go to their player profile page (all profiles here: <a href="http://afterhoursgaming.tv/profiles/">http://afterhoursgaming.tv/profiles/</a>).</div>
<ul>
{% for team_member in team.team_membership.all %}
<li><a href="{% url membership_edit team_member.id %}">{{team_member}}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
