{% extends "site_base.html" %}

{% load as_bootstrap_field %}
{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load show_snippet_tag %}

{% block head_title %}{% if team %}{% trans "Edit Team" %}{% else %}{% trans "Create a Team" %}{% endif %}
{% endblock %}

{% block body %}
<script>
    $(document).ready(function(){
        $("#invite_member").click(function() {
            var email = $("#invitee_email").val();
            $("#email_message").text("");
            $.post("{% url invite_member team.slug %}",
                { 
                    email: email,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                function( data ) {
                    if (data['success'] == 0) {
                        for (index in data['errors']) {
                            $("#email_message").append("<div>" + data['errors'][index] + "</div>");    
                        }
                    } else {
                        $("#email_message").text("Invitation sent to " + email);
                        $("#invitee_email").val("");
                    }
                }
            );

            return false;
        });
    });
</script>

{# NOTE: This page is used for both initial team creation and profile editing, hence all the "if team" stuff. #}

<form enctype="multipart/form-data" method="post" class="form-horizontal well">
    {% csrf_token %}
    {% if team %}
        <h1>{% trans "Edit" %} {{team}}</h1>
    {% else %}
        <h1>{% trans "Create a Team" %}</h1>
        {% show_snippet "Team Signup Message" %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            {% if form_error_title %}
                <strong>{{ form_error_title }}</strong>
            {% endif %}
            {% for error in form.non_field_errors %}
                {{ error }}<br />
            {% endfor %}
        </div>
    {% elif team and not team.is_complete %}
        <div class="alert alert-error">
            Please complete your team profile below.
        </div>
    {% elif team %}
        <div class="alert alert-success">
            Your team profile is complete.
            {% if team.tournament %}
                <a href="{% url team_page team.tournament.slug team.slug %}">View Page...</a>
            {% endif %}
        </div>
    {% endif %}

    {% if team %}

    <p>
        Status:
        {% if team.status == 'R' or team.status == 'W' %}
            <span class="label label-info">{{team.get_status_display}}</span>
        {% elif team.status == 'A' or team.status == 'F' %}
            <span class="label label-success">{{team.get_status_display}}</span>
        {% else %}
            <span class="label label-important">{{team.get_status_display}}</span>
        {% endif %}
    </p>

    <fieldset>
        <legend>
            Team Name
            {% if team.name %}
                <span class="label label-success">Complete</span>
            {% elif team %}
                <span class="label label-warning">Incomplete</span>
            {% endif %}
        </legend>
        {{ form.name|as_bootstrap_field }}
    </fieldset>

    <fieldset>
        <legend>
            Team Photo
            {% if team.photo %}
                <span class="label label-success">Complete</span>
            {% else %}
                <span class="label label-warning">Incomplete</span>
            {% endif %}
        </legend>
        {{ form.photo|as_bootstrap_field }}
    </fieldset>

    <fieldset>
        <legend>
            Team Motto
            {% if team.motto %}
                <span class="label label-success">Complete</span>
            {% else %}
                <span class="label label-warning">Incomplete</span>
            {% endif %}
        </legend>
        {{ form.motto|as_bootstrap_field }}
    </fieldset>

    <fieldset>
        <legend>
            Company Permission
            {% if team.approval %}
                <span class="label label-success">Complete</span>
            {% else %}
                <span class="label label-warning">Incomplete</span>
            {% endif %}
        </legend>
        {{ form.approval|as_bootstrap_field }}
    </fieldset>

    <fieldset>
        <legend>
            Charity Permission
            {% if team.charity %}
                <span class="label label-success">Complete</span>
            {% else %}
                <span class="label label-warning">Incomplete</span>
            {% endif %}
        </legend>
        {{ form.charity|as_bootstrap_field }}
    </fieldset>

    <fieldset>
        <legend>
            Team Roster
            {% if team.has_minimum_members %}
                <span class="label label-success">Complete</span>
            {% else %}
                <span class="label label-warning">Please add at least 8 players.</span>
            {% endif %}
        </legend>
        {% with team.team_membership.all as memberships %}
            {% if memberships|length %}
                <div class="control-group">
                    <h3>
                        {{ memberships|length }}
                        member{{ memberships|length|pluralize:"s" }}:
                    </h3>
                    <ul class="bulleted">
                        {% for m in memberships %}
                            <li>
                                <a href="{% url membership_edit m.id %}">{{m}}</a>
                                {{ m.fields }}
                                {% if m.is_using_default_bio %}
                                    <span class="label label-warning">Bio: Incomplete</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <br/>
            {% endif %}
            {% with team.team_membership.awaitings as awaiting_memberships %}
                {% if awaiting_memberships|length %}
                <div class="control-group">
                    <h3>
                        {{ awaiting_memberships|length }}
                        awaiting member{{ awaiting_memberships|length|pluralize:"s" }}:
                    </h3>
                    <ul class="bulleted">
                        {% for m in awaiting_memberships %}
                            <li>
                                <a href="{% url membership_edit m.id %}">{{m.profile}}</a>
                                {{ m.fields }}
                                {% if m.is_using_default_bio %}
                                    <span class="label label-warning">Bio: Incomplete</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <br/>
                {% endif %}
            {% endwith %}
            <p>
                Find and add players to your team
                <a href="{% url profile_list %}">here</a>.
            </p>
        {% endwith %}
        <p>
            Or invite them via email below
            <div class="control-group ">
                <label for="id_motto" class="control-label">
                    Invitee Email
                </label>
                <div class="controls">
                    <input type="text" maxlength="70" id="invitee_email">
                    <button id="invite_member" class="btn btn-primary">Add</button>
                </div>
                <div class="controls">
                    <span id="email_message" class="help-inline"></span>
                </div>
            </div>
        </p>
    </fieldset>

    <fieldset>
        <legend>Payment</legend>
        {% if team.status == 'R' %}
            <p class="muted">Please Submit for Approval before paying.</p>
        {% elif team.status == 'W' %}
            <p class="text-info">Please check back soon, we're reviewing your team</p>
        {% elif team.status == 'A' %}
            {% if team.paid %}
                <p class="text-success">Payment complete. Good Luck and Have Fun!</p>
            {% else %}
                <p class="alert alert-error">Pay the registration fee <a href="http://afterhoursgaming.tv/registration-payment/">here</a>.</p>
            {% endif %}
        {% endif %}
    </fieldset>

    {% else %} {# if team #}

    <fieldset>
        {{ form.tournament|as_bootstrap_field }}
        {{ form.name|as_bootstrap_field }}
        {{ form.char_name|as_bootstrap_field }}
    </fieldset>

    {% endif %} {# if team #}

    <fieldset>
        <div class="form-actions">
            {% if team %}
                <button type="submit" class="btn btn-primary">Update</button>
                {% if team.status == 'R' %}
                    <button type="submit" class="btn" name="submit" value="approval">Submit for Approval</button>
                {% endif %}
            {% else %}
                <button type="submit" class="btn btn-primary">Start Registration</button>
            {% endif %}
        </div>
        {% csrf_token %}
    </fieldset>

</form>

{% endblock %}
