{% load i18n %}
{% load staticfiles %}
{% load menu_tags %}
{% load ifsetting_tag %}
{% load cms_tags %}
<div id="poweredbyday9tv"><p align="center">Brought to you by Day[9]TV and Red Bull Gaming</p><div style="margin-left:300px"><img src="{% static "images/day9tv_smaller.png" %}" style="float:left; cursor:pointer; margin-top: 30px;" onclick="window.location='http://day9.tv'"><img src="{% static "images/redbull_gaming.png" %}" style="float:left; cursor:pointer" onclick="window.location='http://www.getredbulletin.com/AHGL'" /></div></div>
<div style="clear:both"></div>
<div class="cf">
  <form id="search-form" action="{% url games %}" method="get">
    <label for="s" class="off-screen">Search for:</label>
    <input class="f3" type="text" id="s" name="s" placeholder="Type your search here" />
    <input class="f3" type="submit" value="Go" id="go-button" />
  </form>
  <ul class="footer-list-1">
    <li>
    <a href="{% url archives %}" title="Past Seasons">Past Seasons</a>
    </li>
    {% show_menu %}
    <li>
    <a href="{% url messages_compose_to "ahgltv" %}" title="Contact">Contact</a>
    </li>
  </ul>
  <ul class="social-links-list-1">
    <li>
    <h2 class="social-links-header f3">
      Follow us
    </h2>
    </li>
    <li>
    <a class="twitter-link" href="http://twitter.com/ahgltv" title="twitter">
      <span class="off-screen">twitter</span>
    </a>
    </li>
    <li>
    <a class="facebook-link" href="http://www.facebook.com/AHGLtv" title="Facebook">
      <span class="off-screen">Facebook</span>
    </a>
    </li>
    <li class="last">
    <a class="youtube-link" href="http://www.youtube.com/afterhoursgamingtv" title="YouTube">
      <span class="off-screen">YouTube</span>
    </a>
    </li>
  </ul>
</div>
<p id="copyright">
&copy;2013 <a href="http://jink.tv">Jink.tv</a>. All rights reserved.
&ndash;
<a href="{% page_url "terms-of-use" %}">{% page_attribute "page_title" "terms-of-use" %}</a>
&ndash;
<a href="{% page_url "privacy-policy" %}">{% page_attribute "page_title" "privacy-policy" %}</a>
</p>
<p id="credit">
Site built by <a class="alt-link" title="Nathaniel Tucker" href="http://ntucker.me">Nathaniel Tucker</a>.
Designed by <a class="alt-link" title="Visit Bernat's Portfolio" href="http://www.bernatfortet.com/">Bernat Fortet</a>.
<br/>
<a href="https://github.com/ahgl/ahgl-site">Fork this site on GitHub</a>
</p>


<!--BEGIN RED BULL FOOTER -->

<style type=text/css>#footer {margin-top:0px;}</style>
<footer id='footer' style='background:none !important;'>
	<div class='footer-main-nav'>
		<a class='redbull-com' href='http://www.redbull.com' title='Red Bull' target="_blank">RedBull.com</a>
			<div class='global-social'>
			<h5 class="global-social-title">Follow Red Bull</h5>
				<ul class='global-social-list'>
					<li><a class='facebook' href='http://www.facebook.com/redbull' target="_blank">Facebook</a></li>
					<li><a class='twitter' href='http://twitter.com/#!/RedBullUSA' target="_blank">Twitter</a></li>
					<li><a class='google' href='https://plus.google.com/u/0/105379671042990608528' target="_blank">Google+</a></li>
					<li><a class='instagram' href='http://www.instagram.com/redbull' target="_blank">Instagram</a></li>
					<li><a class='youtube' href='http://www.youtube.com/redbull' target="_blank">YouTube</a></li>
					<li><a class='pinterest' href='http://www.pinterest.com/redbull' target="_blank">Pinterest</a></li>
				</ul>
	        </div>
    </div>
    <div class='footer-meta-nav'>
	    <div class='meta-locale'>
		    Location:
			    <a href='http://www.redbull.com/us/en/countrypicker' target="_blank">
				    <img alt='United States' height='16' src='http://www.redbull.com/cs/RedBull2/images/flag-icons/flags_iso/32/us.png' />United States</a>
	    </div>	
        <div class='meta-info'>
	        <p>&copy; 2013 Red Bull</p>
		        <ul class='meta-links'>
			        <li><a href='http://www.redbull.com/us/en/stories/1331584931841/privacy-policy' title='Privacy Policy' target="_blank"><span>Privacy Policy</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/esports/stories/1331584930825/terms-of-use' title='Terms of Use' target="_blank"><span>Terms of Use</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/stories/1331585005813/imprint' title='Imprint'target="_blank"><span>Imprint</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/stories/1331579526131/brand-protection' title='Brand Protection'target="_blank"><span>Brand Protection</span></a></li>
			        <li><a href='https://www.redbullcontentpool.com' title='Media'  target='_blank'><span>Media</span></a></li>
			        <li><a href='http://energydrink-us.redbull.com/content/contact-us' title='Contact Us'  target='_blank'><span>Contact Us</span></a></li>
			        <li><a href='http://jobs.redbull.comhttp://www.redbull.com/us/en-US' title='Jobs'  target='_blank'><span>Jobs</span></a></li>
	        </ul>
        </div>
    </div>
</footer>
<!-- END RED BULL FOOTER -->
