<!-- BEGIN RED BULL HEADER 2 -->

    <style type=text/css> #navigation .main-nav li.trigger > a > span {background-position: 90% center;}</style>
    <script src="http://www.redbull.com/cs/RedBull2/javascripts/rb.init-20130910112909.js" type="text/javascript"></script>
    
    <img height='0' src='http://www.redbull.com/cs/RedBull2/images/progress.gif' style='display: none' width='0' alt='progress'/>
    <div class='' id='main-bar'>
    <div class='content' style='max-width: 860px !important;'>
    <div id='branding'>
        <a class='logo' href='http://www.redbull.com/us/en/esports' target="_blank">eSports</a>
        <a href='http://www.redbull.com/us/en/esports' target="_blank">eSports</a>
    </div>

    <div id='navigation'>
        <a class='trigger' href='#' id='main-trigger'>Menu</a>
        <div class='navigation-wrapper'>
            <div id='channel-main'>
                <ul class='main-nav' id='main-nav'>
                    <li class='trigger' >
                        <a><span>News</span></a>    
                        <ul style="visibility: hidden;">
                            <li class="" style="" >
                            <a target="_blank" href="http://afterhoursgaming.tv/" title="AHGL News" ><span>AHGL News</span></a></li>
                            <li class="" style="" >
                            <a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869431/news" title="Red Bull ESports" ><span>Red Bull ESports</span></a></li>
                        </ul>
                    <li class='trigger' >
                        <a><span>StarCraft II</span></a>    
                           <ul style="visibility: hidden;">       
                            <li class="" style="" >
                            <a target="_blank" href="http://afterhoursgaming.tv/starcraft-2-season-4" title="AHGL StarCraft II" ><span>AHGL StarCraft II</span></a></li>
                               <li class="" style="" >
                            <a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869506/starcraft-ii" title="Red Bull StarCraft II" ><span>Red Bull StarCraft II</span></a></li>
                        </ul>
                    <li class='trigger' >
                        <a><span>League of Legends</span></a>    
                        <ul style="visibility: hidden;">       
                            <li class="" style="" ><a target="_blank" href="http://afterhoursgaming.tv/league-legends-season-4" title="AHGL League of Legends" ><span>AHGL League of Legends</span></a></li>
                            <li class="" style="" ><a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869493/league-of-legends" title="Red Bull League of Legends" ><span>Red Bull League of Legends</span></a></li>
                        </ul>
            </div>
        </div>
    </div>
    </div>
    </div>

<!-- END RED BULL HEADER 2 -->
