<!-- BEGIN RED BULL ANALYTICS -->
        <!-- WRAPPER START -->
        <script type="text/javascript">
	        //Basis Tracking	
	        var edWrapperNameSpace = {};
	        edWrapperNameSpace.aGTM = [
		        "GTM-LVJ5", 	// hq
		        "GTM-7W7M", 	// hq
		        "GTM-HPZK", 	// hq
		        "GTM-WC3QCV" 	// property
	        ];
	        var edWrapper = [];
        </script>

        <script type="text/javascript">
	        //Wrapper Initial Configuration
	        edWrapperNameSpace.sVers = -1; 
	        edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
	        edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

	        //Wrapper Initial Lib
	        (function (sVarName) {
		        window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
		        var script = document.createElement('script'); script.type = 'text/javascript'; script.asyn = false; 
		        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
		        var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
	        })("edWrapper");
        </script>
        <!-- WRAPPER END -->

        <script type="text/javascript">
	        edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - After Hours Gaming TV'} , true ] );
	        edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
	        edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
	        edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );
	        edWrapper.push(['submit']);		
        </script>
        
        <!-- Copyright (c) 1996-2011 WebTrends Inc.  All rights reserved. -->
        <!-- Version: 9.3.0 -->
        <!-- Tag Builder Version: 3.1  -->
        <!-- Created: 3/11/2011 12:31:17 PM -->
        <script src="/site_media/static/js/webtrends.js" type="text/javascript"></script>
        <!-- ----------------------------------------------------------------------------------- -->
        <!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
        <!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
        <!-- ----------------------------------------------------------------------------------- -->
        <script type="text/javascript">
        //<![CDATA[
        var _tag=new WebTrends();
        _tag.dcsGetId();
        //]]>
        </script>
        <script type="text/javascript">
        //<![CDATA[
        _tag.dcsCustom=function(){
	        // CUSTOM
        }
        _tag.dcsCollect();
        //]]>
        </script>
        <noscript>
            <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcso3ol5yvz5bded5xqqrlgye_5z4s/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=afterhoursgaming.tv"/></div>
        </noscript>
<!-- END RED BULL ANALYTICS -->
