<!--BEGIN RED BULL FOOTER -->

<style type=text/css>#footer {margin-top:0px;}</style>
<footer id='footer'>
	<div class='footer-main-nav'>
		<a class='redbull-com' href='http://www.redbull.com' title='Red Bull' target="_blank">RedBull.com</a>
			<div class='global-social'>
			<h5 class="global-social-title">Follow Red Bull</h5>
				<ul class='global-social-list'>
					<li><a class='facebook' href='http://www.facebook.com/redbull' target="_blank">Facebook</a></li>
					<li><a class='twitter' href='http://twitter.com/#!/RedBullUSA' target="_blank">Twitter</a></li>
					<li><a class='google' href='https://plus.google.com/u/0/105379671042990608528' target="_blank">Google+</a></li>
					<li><a class='instagram' href='http://www.instagram.com/redbull' target="_blank">Instagram</a></li>
					<li><a class='youtube' href='http://www.youtube.com/redbull' target="_blank">YouTube</a></li>
					<li><a class='pinterest' href='http://www.pinterest.com/redbull' target="_blank">Pinterest</a></li>
				</ul>
	        </div>
    </div>
    <div class='footer-meta-nav'>
	    <div class='meta-locale'>
		    Location:
			    <a href='http://www.redbull.com/us/en/countrypicker' target="_blank">
				    <img alt='United States' height='16' src='http://www.redbull.com/cs/RedBull2/images/flag-icons/flags_iso/32/us.png' />United States</a>
	    </div>	
        <div class='meta-info'>
	        <p>&copy; 2013 Red Bull</p>
		        <ul class='meta-links'>
			        <li><a href='http://www.redbull.com/us/en/stories/1331584931841/privacy-policy' title='Privacy Policy' target="_blank"><span>Privacy Policy</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/esports/stories/1331584930825/terms-of-use' title='Terms of Use' target="_blank"><span>Terms of Use</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/stories/1331585005813/imprint' title='Imprint'target="_blank"><span>Imprint</span></a></li>
			        <li><a href='http://www.redbull.com/us/en/stories/1331579526131/brand-protection' title='Brand Protection'target="_blank"><span>Brand Protection</span></a></li>
			        <li><a href='https://www.redbullcontentpool.com' title='Media'  target='_blank'><span>Media</span></a></li>
			        <li><a href='http://energydrink-us.redbull.com/content/contact-us' title='Contact Us'  target='_blank'><span>Contact Us</span></a></li>
			        <li><a href='http://jobs.redbull.comhttp://www.redbull.com/us/en-US' title='Jobs'  target='_blank'><span>Jobs</span></a></li>
	        </ul>
        </div>
    </div>
</footer>
<!-- END RED BULL FOOTER -->
