{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
    <div id="wrapper">
        <div style="width:920px;margin:0 auto;">{% include "_messages.html" %}</div>
        {% block topbar_base %}

            {# No idea why this needs to be copied from site_base.html! #}
            <div id="static-navheader" class="navbar">
            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>

        {% endblock %}
        {% block tournament_nav %}{% endblock %}
        <header id="newsite-header" ng-include="'views/header.html'"></header>

        <div id="main-content" class="well {% block content-class %}{% endblock %} row">
          <br/>
          <div class="span2 columns">
              {% block subnav %}
              {% endblock %}
          </div>
          <div class="span9 columns">
            {% block body %}
            {% endblock %}
          </div>
        </div>
    </div>
{% endblock %}
