{% extends "site_base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% load cache %}

{% block head_title %}{{ request.current_page.get_title }}{% endblock %}

{% block content-class %}static-page{% endblock %}

{% block tournament_nav %}
{% cache 300 cms_top request.path %}
{% placeholder top_before_main %}
{% endcache %}
{% endblock %}

{% block body %}
{% cache 300 cms_body request.path %}
{% placeholder content %}
{% endcache %}
{% endblock %}

{% block footer_base %}
{% include "redbull_footer1.html" %}
{% endblock %}
