{% load sekizai_tags %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load compress %}
{% load include_static_file %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} &#8212; {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon" />

        {% compress css %}
        {% block style_base %}
            <link href="{% static "css/bootstrap_extract.css" %}" rel="stylesheet">
            <link href="{% static "css/layout.css" %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}
        {% endcompress %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js"></script>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
        {% render_block "css" %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22414469-2']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        {% include_static_file "static/js/app/dist/include_header.html" %}

    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block body_base %}
            <div id="wrapper">
                <div style="width:920px;margin:0 auto;">{% include "_messages.html" %}</div>
                {% block topbar_base %}{% endblock %}
                {% block tournament_nav %}{% endblock %}
                <header id="newsite-header" ng-include="'views/header.html'"></header>

                <div id="main-content" class="{% block content-class %}{% endblock %}">
                {% block body %}
                {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer_base %}
            <footer id="newsite-footer" ng-include="'views/footer.html'"></footer>
            {% block footer %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% analytics %}
            {% block extra_body %}{% endblock %}
        {% endblock %}


            <script src="{% static "js/base.js" %}"></script>
        {% compress js %}
        {% block script_base %}
            <script src="{% static "js/bootstrap-ajax.js" %}"></script>
            <script src="{% static "pinax/js/jquery.form.js" %}"></script>
            <script src="{% static "pinax/js/pinax.modal.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
        {% endcompress %}
        {% render_block "js" %}

        <script>
            // We need to initialize just the header and footer because, if the whole <body> is
            // initialized as an Angular app, <button> clicks will be blocked, and other stuff will
            // probably stop working.
            angular.element(document).ready(function() {
                angular.bootstrap(document.getElementById('newsite-header'), ['ahglApp']);
                angular.bootstrap(document.getElementById('newsite-footer'), ['ahglApp']);
            });
        </script>

        <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <![endif]-->
    </body>
</html>
