{% load sekizai_tags %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} &#8212; {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        
<!-- BEGIN RED BULL HEADER 1 -->
        <meta name="WT.sp" content='us' />
        <meta name="WT.z_region" content="" />
        <meta name="WT.z_asset" content="" />
        <meta name="WT.z_micro" content="" />
        <meta name="WT.z_intmicro" content="" />
        <meta name="WT.cg_n" content="eSports" />
        <meta name="WT.cg_s" content="" />
        <meta name="WT.z_cg_3" content="" />
        <meta name="WT.z_cg_4" content="" />
        <meta name="WT.z_lang" content='en' />
        <meta content='width=device-width, initial-scale=1.0' name='viewport' />
        <meta name='apple-mobile-web-app-title' content='AHGL' />

        <script src="http://www.redbull.com/cs/RedBull2/javascripts/vendor/modernizr.custom-20130910112909.js" type="text/javascript"></script>
        <script type='text/javascript'>
        //<![CDATA[
            rb={};
        //]]>
        </script>
        <script type="text/javascript">
            rb.jsfiles = {
                "vendor/respond.src.js": "http://www.redbull.com/cs/RedBull2/javascripts/vendor/respond.src-20130910112909.js",
                "rb.application.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.application-20130910112909.js",
                "modules/slideshow/rb.slideshow.js": "http://www.redbull.com/cs/RedBull2/javascripts/modules/slideshow/rb.slideshow-20130910112909.js",
                "rb.tracking.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.tracking-20130910112909.js",
                "rb.raceresults.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.raceresults-20130910112909.js",
                "respond.src.js": "http://www.redbull.com/cs/RedBull2/javascripts/respond.src.js",
                "vendor/webtrends.js": "http://www.redbull.com/cs/RedBull2/javascripts/vendor/webtrends-20130910112909.js",
                "rb.f1-gridview.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.f1-gridview-20130910112909.js",
                "rb.track-overview.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.track-overview-20130910112909.js",
                "vendor/gmaps.infobubble-compiled.js": "http://www.redbull.com/cs/RedBull2/javascripts/vendor/gmaps.infobubble-compiled-20130910112909.js",
                "vendor/raphael-min.js": "http://www.redbull.com/cs/RedBull2/javascripts/vendor/raphael-min-20130910112909.js",
                "rb.filmpage.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.filmpage-20130910112909.js",
                "rb.homepage.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.homepage-20130910112909.js",
                "rb.locallight-homepage.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.locallight-homepage-20130910112909.js",
                "rb.eventpage.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.eventpage-20130910112909.js",
                "rb.peoplepage.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.peoplepage-20130910112909.js",
                "modules/redbulltv/rb.redbulltvteaser.js": "http://www.redbull.com/cs/RedBull2/javascripts/modules/redbulltv/rb.redbulltvteaser-20130910112909.js",
                "rb.eventsbrowser.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.eventsbrowser-20130910112909.js",
                "modules/countrypicker/rb.countrypicker.js": "http://www.redbull.com/cs/RedBull2/javascripts/modules/countrypicker/rb.countrypicker-20130910112909.js",
                "modules/gigya/rb.gigya-share.js": "http://www.redbull.com/cs/RedBull2/javascripts/modules/gigya/rb.gigya-share-20130910112909.js",
                "vendor/jquery.cookie.js": "http://www.redbull.com/cs/RedBull2/javascripts/vendor/jquery.cookie-20130910112909.js",
                "rb.photostory.js": "http://www.redbull.com/cs/RedBull2/javascripts/rb.photostory-20130910112909.js"
            };
        </script>
        
        <script type='text/javascript'>
        //<![CDATA[
            WT_dcsid = 'dcspii8tn00000cpjxmmvxddo_3h5n';
            locale = 'en';
            site_locale = 'en_US';
            bcapitoken='G31hCgomCm9P_HbYALa7EUB9PRgpxBiIJQiphLhsuMzXRvqTT5Aa0w..';

            rb.siteSettings = {
                pageType: 'ChannelLanding',
                channel: 'eSports',
                discipline: '',
                assetType: 'Page',
                assetID: '1331591868643'
            };

            (function() {
                var cx = '010339042084386674485:ojlwxs6feek';
                var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
            })();
        //]]>
        </script>

        <link href='http://www.redbull.com/cs/RedBull2/images/apple-touch-icon.png' rel='apple-touch-icon' />
        <link href="http://www.redbull.com/cs/RedBull2/stylesheets/basic-20130910112909.css" media="screen, handheld" rel="stylesheet" type="text/css" />
        <link href="http://www.redbull.com/cs/RedBull2/stylesheets/modules-20130910112909.css" media="screen, handheld" rel="stylesheet" type="text/css" />
        <link href="http://www.redbull.com/cs/RedBull2/stylesheets/mobile-20130910112909.css" media="only screen and (min-width: 320px) and (max-width: 640px)" rel="stylesheet" type="text/css" />
        <link href="http://www.redbull.com/cs/RedBull2/stylesheets/desktop-20130910112909.css" media="only screen and (min-width: 640px)" rel="stylesheet" type="text/css" />

<!-- END RED BULL HEADER 1 -->
        
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon" />

        {% compress css %}
        {% block style_base %}
            <link href="{% static "css/bootstrap_extract.css" %}" rel="stylesheet">
            <link href="{% static "css/layout.css" %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}
        {% endcompress %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/plusone.js"></script>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
        {% render_block "css" %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22414469-2']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>




    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

<!-- BEGIN RED BULL HEADER 2 -->

    <style type=text/css> #navigation .main-nav li.trigger > a > span {background-position: 90% center;}</style>
    <script src="http://www.redbull.com/cs/RedBull2/javascripts/rb.init-20130910112909.js" type="text/javascript"></script>
    
    <img height='0' src='http://www.redbull.com/cs/RedBull2/images/progress.gif' style='display: none' width='0' alt='progress'/>
    <div class='' id='main-bar'>
    <div class='content' style='max-width: 860px !important;'>
    <div id='branding'>
        <a class='logo' href='http://www.redbull.com/us/en/esports' target="_blank">eSports</a>
        <a href='http://www.redbull.com/us/en/esports' target="_blank">eSports</a>
    </div>

    <div id='navigation'>
        <a class='trigger' href='#' id='main-trigger'>Menu</a>
        <div class='navigation-wrapper'>
            <div id='channel-main'>
                <ul class='main-nav' id='main-nav'>
                    <li class='trigger' >
                        <a><span>News</span></a>    
                        <ul style="visibility: hidden;">
                            <li class="" style="" >
                            <a target="_blank" href="http://afterhoursgaming.tv/" title="AHGL News" ><span>AHGL News</span></a></li>
                            <li class="" style="" >
                            <a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869431/news" title="Red Bull ESports" ><span>Red Bull ESports</span></a></li>
                        </ul>
                    <li class='trigger' >
                        <a><span>StarCraft II</span></a>    
                           <ul style="visibility: hidden;">       
                            <li class="" style="" >
                            <a target="_blank" href="http://afterhoursgaming.tv/starcraft-2-season-4" title="AHGL StarCraft II" ><span>AHGL StarCraft II</span></a></li>
                               <li class="" style="" >
                            <a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869506/starcraft-ii" title="Red Bull StarCraft II" ><span>Red Bull StarCraft II</span></a></li>
                        </ul>
                    <li class='trigger' >
                        <a><span>League of Legends</span></a>    
                        <ul style="visibility: hidden;">       
                            <li class="" style="" ><a target="_blank" href="http://afterhoursgaming.tv/league-legends-season-4" title="AHGL League of Legends" ><span>AHGL League of Legends</span></a></li>
                            <li class="" style="" ><a target="_blank" href="http://www.redbull.com/us/en/esports/disciplines/1331591869493/league-of-legends" title="Red Bull League of Legends" ><span>Red Bull League of Legends</span></a></li>
                        </ul>
            </div>
        </div>
    </div>
    </div>
    </div>

<!-- END RED BULL HEADER 2 -->

        {% block topbar_base %}
        {% endblock %}

        {% block body_base %}
            <div id="wrapper">
                <div style="width:920px;margin:0 auto;">{% include "_messages.html" %}</div>
                {% block tournament_nav %}
                <div id="main-header">
                {% include "tournaments/_tournament_nav.html" %}
                </div>
                {% endblock %}
                
                <div id="main-content" class="{% block content-class %}{% endblock %}">
                {% block body %}
                {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer_base %}
            <div id="main-footer">
                <div id="main-footer-inner">
                        {% block footer %}{% include "_footer.html" %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block extra_body_base %}
            {% analytics %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        
        
            <script src="{% static "js/base.js" %}"></script>
        {% compress js %}
        {% block script_base %}
            <script src="{% static "js/bootstrap-ajax.js" %}"></script>
            <script src="{% static "pinax/js/jquery.form.js" %}"></script>
            <script src="{% static "pinax/js/pinax.modal.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
        {% endcompress %}
        {% render_block "js" %}
        
    <!--[if lt IE 9]>

    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>

    <![endif]-->
    <!-- Place this tag in your head or just before your close body tag -->
    </body>
</html>
